<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Aerial Screen Saver"
      Manufacturer="Eric Ulevik"
      Version="$(var.ProductVersion)"
      Scope="perUser"
      UpgradeCode="D6A2D79C-6E5F-4A2A-9AC4-3C50A0EE8DF5">
    <SummaryInformation Description="Aerial Screen Saver" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Aerial Screen Saver is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="PROGRAMSDIR" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="Aerial Screen Saver">
          <Directory Id="LIBVLCDIR" Name="libvlc">
            <Directory Id="LIBVLCX64DIR" Name="win-x64" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="Aerial Screen Saver" Level="1">
      <ComponentRef Id="ScreenSaverRegistration" />
      <Files Include="$(var.SourceDir)\**" Directory="INSTALLFOLDER" />
    </Feature>

    <Component Id="ScreenSaverRegistration" Directory="INSTALLFOLDER" Guid="*">
      <RegistryValue
        Root="HKCU"
        Key="Control Panel\Desktop"
        Name="SCRNSAVE.EXE"
          Value="[INSTALLFOLDER]Aerial.scr"
          Type="string"
          KeyPath="yes" />
      <RegistryValue
        Root="HKCU"
        Key="Control Panel\Desktop"
        Name="ScreenSaveActive"
        Value="1"
        Type="integer" />
      <RegistryValue
        Root="HKCU"
        Key="Control Panel\Desktop"
        Name="ScreenSaveTimeOut"
        Value="300"
        Type="string" />
    </Component>

    <CustomAction
        Id="UpdateScreenSaverSettings"
      Directory="SystemFolder"
      ExeCommand="rundll32.exe user32.dll,UpdatePerUserSystemParameters"
        Execute="commit"
        Impersonate="yes"
      Return="ignore" />

    <CustomAction
        Id="OpenControlPanelScreenSaver"
      Directory="SystemFolder"
      ExeCommand="rundll32.exe shell32.dll,Control_RunDLL desk.cpl,,1"
        Execute="commit"
        Impersonate="yes"
        Return="asyncNoWait" />

   <InstallExecuteSequence>
      <Custom Action="UpdateScreenSaverSettings" After="InstallFiles" Condition="NOT REMOVE" />
      <Custom Action="OpenControlPanelScreenSaver" After="UpdateScreenSaverSettings" Condition="NOT REMOVE" />
    </InstallExecuteSequence>
  </Package>
</Wix>
